html{
    background: #f7f7f7;
    }
body{
    font-family:Georgia, Times, 'Times New Roman', serif;
    background: white;
    margin: .3 auto;
    color: rgb(0, 0, 0);
    text-align: center;
}

.Header{
    background-color: black;
    text-align: center;

}

